<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Registered Applications", registered_applications_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><i><%= @application.name %></i></li>
  </ol>
</nav>


<div class="page-header">
  <h1>
    <%= @application.name %>
    <small><%= @application.URL %></small>
  </h1>
</div>


  <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Analytics Pie Chart</div>
          <div class="panel-body">
            <%= pie_chart @application.events.group(:name).count, download: true %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Analytics Line Graph</div>
          <div class="panel-body">
            <%= line_chart @application.events.group_by_day(:created_at).count, download: true, xtitle: "Date", ytitle: "Count (all events)" %>
          </div>
        </div>
      </div>
</div>
